*{ margin : 0; padding : 0;}
ul,li{ list-style: none;}
.clearfix:after{ content:""; display: block; height:0; clear:both;}
a{text-decoration: none;}
body,html{font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;}

